#cursos {
    text-align: center;
}

#cursos h2 {
    font-size: 3rem;
    margin-bottom: 50px;
}

#cursos .row {
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
}

#cursos .column {
    gap: 12px
}

#cursos .column img {
    width: 100%;
    max-width: 150px;
    height: 150px;
    object-fit: contain;
    display: block;
}

#cursos .column p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 10px auto;
}

#cursos > p{ 
    font-size: 1.5rem;
    font-weight: 700;
    color: #FBFFCD;
    margin-top: 10px;
}

@media (max-width: 768px) {
    
    #cursos h2 {
        font-size: 2.2rem;
        margin-bottom: 30px;
    }

    #cursos .row {
        gap: 30px;
        margin-bottom: 30px;
    }

    #cursos .column p {
        font-size: 1.1rem;
    }

    #cursos > p {
        font-size: 1.2rem;
    }
}