body {
    margin: 120px;
    font-family: 'League Spartan', sans-serif;
    font-size: large;
}

main {
    margin: 0px;
}

.row {
    display: flex;
}

.column {
    align-items: center;
    max-width: 100%;
}
