#hero.row {
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#hero .column {
    align-items: flex-start; 
    gap: 16px;
    max-width: 52%;
}

#hero h1 {
    font-size: 3.5rem;
    line-height: 1;
}

#hero p {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.2;
}

#hero button {
    margin-top: 8px;
    padding: 24px 42px;
    background-color: #79AE92;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid #79AE92;
    border-radius: 30px;
    cursor: pointer;
    width: fit-content;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

#hero button:hover {
    background-color: transparent;
    color: #79AE92;
}

#hero img {
    width: 48%;
    max-width: 650px;
    border-radius: 8px;
    object-fit: cover;
}

@media (max-width: 768px) {
    
    #hero .column {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    #hero h1 {
        font-size: 2.2rem;
    }

    #hero p {
        font-size: 1.4rem;
    }

    #hero img {
        width: 100%;
        margin-top: 32px;
    }
}